body{
  background-color: #456678;
  color: #FFFFFF;
  font-size: 30px;
}

#coo{
  cursor: pointer;
  width: auto;
  height: auto;
}

#container{
  margin-left: auto;
  margin-right: auto;
}

#upgrade{
  width: 75%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: auto auto auto;
}

#coo{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  transition: transform .4s;
}

#coo:hover{
  transform: scale(0.95);
}

.upg{
  background-color: #bf954c;
  width: 33%;
  height: 35%;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 24px;
  padding: 25px;
  margin-left: 25%;
  border-radius: 10%;
  transition: transform .4s;
}

.upg:hover{
  transform: scale(1.1);
}

